:root {
  --swiper-navigation-size: 25px;
  --swiper-theme-color: white;
}
.swiper {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-prev {
  right: 0;
  /* left: unset; */
  position: absolute;
  right: 58px;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 6px;
  border-top-left-radius: 15px;
  overflow: hidden;
  z-index: 1;
  width: 35px;
}

.swiper-button-prev {
  left: unset;
}

.swiper-button-prev,
.swiper-button-next {
  padding: 17px;
  background-color: var(--white);
  opacity: 1;
  top: unset;
  bottom: 0;
}
